[submodule "tools/maker"]
	path = tools/maker
	url = git@github.com:CMUAbstract/maker.git
[submodule "ext/liblora"]
	path = ext/liblora
	url = git@github.com:CMUAbstract/liblora.git
[submodule "ext/libio"]
	path = ext/libio
	url = git@github.com:CMUAbstract/libio.git
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = git@github.com:CMUAbstract/libmsp.git
[submodule "ext/libfixed"]
	path = ext/libfixed
	url = git@github.com:CMUAbstract/libfixed.git
[submodule "ext/libmspmath"]
	path = ext/libmspmath
	url = git@github.com:CMUAbstract/libmspmath.git
[submodule "ext/libhimax"]
	path = ext/libhimax
	url = git@github.com:CMUAbstract/libhimax.git
[submodule "src/camaroptera-dnn"]
	path = src/camaroptera-dnn
	url = git@github.com:CMUAbstract/camaroptera-dnn.git
[submodule "ext/libmspbuiltins"]
	path = ext/libmspbuiltins
	url = git@github.com:CMUAbstract/libmspbuiltins.git
[submodule "ext/libalpaca"]
	path = ext/libalpaca
	url = git@github.com:CMUAbstract/libalpaca-SONIC.git
[submodule "ext/libmat"]
	path = ext/libmat
	url = git@github.com:CMUAbstract/libmat.git
[submodule "ext/libdnn"]
	path = ext/libdnn
	url = git@github.com:CMUAbstract/libdnn.git
[submodule "ext/libjpeg"]
	path = ext/libjpeg
	url = git@github.com:CMUAbstract/libjpeg.git
[submodule "tools/pacarana-pass"]
	path = tools/pacarana-pass
	url = git@github.com:CMUAbstract/pacarana-pass.git
[submodule "ext/libpacarana"]
	path = ext/libpacarana
	url = git@github.com:CMUAbstract/libpacarana.git
