[submodule "tools/maker"]
	path = tools/maker
	url = git@github.com:CMUAbstract/maker.git
[submodule "ext/liblora"]
	path = ext/liblora
	url = git@github.com:CMUAbstract/liblora.git
[submodule "ext/libio"]
	path = ext/libio
	url = git@github.com:CMUAbstract/libio.git
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = git@github.com:CMUAbstract/libmsp.git
[submodule "ext/libfixed"]
	path = ext/libfixed
	url = git@github.com:CMUAbstract/libfixed.git
[submodule "ext/libmspmath"]
	path = ext/libmspmath
	url = git@github.com:CMUAbstract/libmspmath.git
